:root {
  --font-primary: "Brown LL", "Brown";
  
  /* Colors */
  --color-white: #FFF;
  --color-neutral-inverse: #E6E7E9;
  --color-primary: #161719;
  --color-secondary: #7A7C81;
  --color-neutral: #2C2D30;
  --color-neutral-secondary: rgba(44, 45, 48, 0.08);
  --color-icon-bg: rgba(224, 224, 224, 0.1);
  --semantic-bg-neutral-secondary: rgba(44, 45, 48, 0.08);
  --semantic-fg-disabled  : rgba(163, 166, 172, 0.10); /*#A3A6AC 48%;*/
  --semantic-dark-foreground-fg-secondary: #A3A6AC;
  --semantic-fg-tertiary: #D0D1D3;
  --semantic-light-background-bg-alpha: rgba(0, 0, 0, 0.04);
  
  /* Search Bar Variables */
  --search-bar-width: 400px;
  --search-bar-max-width: 476px;
  --search-bar-height: 40px;
  --search-bar-border-radius: 20px;
  --search-icon-size: 16px;
  --search-input-height: 20px;
  --search-input-color: #161719;
  --search-input-font-weight: 400;
  --search-input-line-height: 18px;
  --search-input-caret-color: #2B9BF0;
  --search-input-placeholder-color: #D0D1D3;
  
  /* Dimensions */
  --card-width: 342px;
  --images-height: 200px;
  --avatar-size: 80px;
  --spacing-md: 24px;
  --spacing-sm: 12px;

  --letter-spacing-normal: -0.25px;
  --font-size-base:14px;
} 