:root {
  --font-primary: "Brown LL", "Brown";
  
  /* Colors */
  --color-white: #FFF;
  --color-neutral-inverse: #E6E7E9;
  --color-primary: #161719;
  --color-secondary: #7A7C81;
  --color-neutral: #2C2D30;
  --color-neutral-secondary: rgba(44, 45, 48, 0.08);
  --color-icon-bg: rgba(224, 224, 224, 0.1);
  --semantic-bg-neutral-secondary: rgba(44, 45, 48, 0.08);
  --semantic-fg-disabled  : rgba(163, 166, 172, 0.10); /*#A3A6AC 48%;*/
  
  /* Card Dimensions */
  --card-width: 342px;
  --card-height: 416px;
  --card-min-width: 296px;
  --card-images-height: 200px;
  --card-frame-width: 114px;
  --card-content-width: 294px;
  --card-content-height: 40px;
  --card-avatar-size: 80px;
  --card-avatar-offset-x: 131px;
  --card-avatar-offset-y: -56px;
  
  /* Spacing */
  --spacing-sm: 12px;
  --spacing-md: 24px;
  --spacing-lg: 32px;
  --spacing-xl: 56px;
  
  /* Typography - Font Sizes */
  --font-size-sm: 12px;
  --font-size-base: 14px;
  --font-size-md: 16px;
  --font-size-lg: 18px;
  
  /* Typography - Line Heights */
  --line-height-sm: 16px;
  --line-height-md: 20px;
  --line-height-lg: 24px;
  
  /* Typography - Letter Spacing */
  --letter-spacing-normal: -0.25px;
  --letter-spacing-tight: -0.5px;
  
  /* Border Radius */
  --radius-sm: 8px;
} 