.cards-grid {
    display: flex;
    padding-bottom: 40px;
    align-items: flex-start;
    align-content: flex-start;
    gap: 24px;
    flex-wrap: wrap;
}

.no-results-container {
    text-align: center;
    width: 100%;
}

.no-results-message {
    margin: 0;
    padding: 2rem;
}